@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f3f4f6;
}

.Optima {
  font-family: 'Optima';
}
.Poppins {
  font-family: 'Poppins';
}


@font-face {
  font-family: 'Optima';
  src: url('~/assets/fonts/optima.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/Poppins-Regular.ttf') format('truetype');
}


@layer components {
    .bg-primary {
      @apply bg-gradient-to-br from-sky-500 to-cyan-500;
    }
    .bg-primaryHover {
      @apply bg-gradient-to-br from-sky-600 to-cyan-600;
    }
  }